In [130]:
import pandas as pd

### Read in the Data

In [131]:
real_estate = pd.read_csv('datasets/WakeCountyHousing.csv')
real_estate.head(10)

,Real_Estate_Id,Deeded_Acreage,Total_Sale_Price,Total_Sale_Date,Month_Year_of_Sale,Year_of_Sale,Year_Built,Year_Remodeled,Heated_Area,Num_Stories,Design_Style,Bath,Utilities,Physical_City,Physical_Zip
0,19,0.21,34500,1/1/1974,January 1974,1974,1964,1964,1828,One Story,Split level,2 Bath,ALL,Raleigh,27610.0
1,20,0.46,35500,5/18/1983,May 1983,1983,1970,1970,1240,One Story,Conventional,1 Bath,E,Raleigh,27610.0
2,22,0.46,37500,9/16/2004,September 2004,2004,1900,1900,2261,One Story,Conventional,2 Bath,WSE,Wendell,27591.0
3,25,0.96,70000,1/1/1971,January 1971,1971,1971,1971,3770,One Story,Conventional,Other,WGE,Raleigh,27613.0
4,30,0.47,380000,8/12/2015,August 2015,2015,1946,2017,1789,One Story,Conventional,2 Bath,ALL,Raleigh,27607.0
5,31,0.39,337500,7/17/2002,July 2002,2002,1970,1970,2463,One Story,Conventional,2 Bath,ALL,Raleigh,27615.0
6,33,0.50,32500,2/6/1979,February 1979,1979,1969,1969,2389,One Story,Ranch,3 Bath,WGE,Raleigh,27607.0
7,34,0.70,19500,1/1/1968,January 1968,1968,1968,1968,1280,One Story,Conventional,2 Bath,ALL,Raleigh,27606.0
8,35,0.49,319000,1/16/1996,January 1996,1996,1938,1938,4650,Two Story,Conventional,3½ Bath,ALL,Raleigh,27608.0
9,37,0.13,425000,4/15/2008,April 2008,2008,1921,1921,1890,Other,Conventional,2 Bath,ALL,Raleigh,27604.0

In [132]:
real_estate.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 308292 entries, 0 to 308291
Data columns (total 15 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Real_Estate_Id      308292 non-null  int64
 1   Deeded_Acreage      308292 non-null  float64
 2   Total_Sale_Price    308292 non-null  int64
 3   Total_Sale_Date     308292 non-null  object
 4   Month_Year_of_Sale  308292 non-null  object
 5   Year_of_Sale        308292 non-null  int64
 6   Year_Built          308292 non-null  int64
 7   Year_Remodeled      308292 non-null  int64
 8   Heated_Area         308292 non-null  int64
 9   Num_Stories         308292 non-null  object
 10  Design_Style        308292 non-null  object
 11  Bath                308275 non-null  object
 12  Utilities           306324 non-null  object
 13  Physical_City       308183 non-null  object
 14  Physical_Zip        308146 non-null  float64
dtypes: float64(2), int64(6), object(7)
memory usage: 35.3+ MB

## Data Cleaning

Dropping the columns that are not needed

In [133]:
real_estate.dropna(inplace=True)
real_estate.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 306161 entries, 0 to 308291
Data columns (total 15 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Real_Estate_Id      306161 non-null  int64
 1   Deeded_Acreage      306161 non-null  float64
 2   Total_Sale_Price    306161 non-null  int64
 3   Total_Sale_Date     306161 non-null  object
 4   Month_Year_of_Sale  306161 non-null  object
 5   Year_of_Sale        306161 non-null  int64
 6   Year_Built          306161 non-null  int64
 7   Year_Remodeled      306161 non-null  int64
 8   Heated_Area         306161 non-null  int64
 9   Num_Stories         306161 non-null  object
 10  Design_Style        306161 non-null  object
 11  Bath                306161 non-null  object
 12  Utilities           306161 non-null  object
 13  Physical_City       306161 non-null  object
 14  Physical_Zip        306161 non-null  float64
dtypes: float64(2), int64(6), object(7)
memory usage: 37.4+ MB

In [134]:
real_estate.keys()

Index(['Real_Estate_Id', 'Deeded_Acreage', 'Total_Sale_Price',
       'Total_Sale_Date', 'Month_Year_of_Sale', 'Year_of_Sale', 'Year_Built',
       'Year_Remodeled', 'Heated_Area', 'Num_Stories', 'Design_Style', 'Bath',
       'Utilities', 'Physical_City', 'Physical_Zip'],
      dtype='object')

### Convert the Date to datetime

In [135]:
real_estate['total_sale_datetime'] = pd.to_datetime(real_estate['Total_Sale_Date'])

In [136]:
real_estate.head(10)

,Real_Estate_Id,Deeded_Acreage,Total_Sale_Price,Total_Sale_Date,Month_Year_of_Sale,Year_of_Sale,Year_Built,Year_Remodeled,Heated_Area,Num_Stories,Design_Style,Bath,Utilities,Physical_City,Physical_Zip,total_sale_datetime
0,19,0.21,34500,1/1/1974,January 1974,1974,1964,1964,1828,One Story,Split level,2 Bath,ALL,Raleigh,27610.0,1974-01-01
1,20,0.46,35500,5/18/1983,May 1983,1983,1970,1970,1240,One Story,Conventional,1 Bath,E,Raleigh,27610.0,1983-05-18
2,22,0.46,37500,9/16/2004,September 2004,2004,1900,1900,2261,One Story,Conventional,2 Bath,WSE,Wendell,27591.0,2004-09-16
3,25,0.96,70000,1/1/1971,January 1971,1971,1971,1971,3770,One Story,Conventional,Other,WGE,Raleigh,27613.0,1971-01-01
4,30,0.47,380000,8/12/2015,August 2015,2015,1946,2017,1789,One Story,Conventional,2 Bath,ALL,Raleigh,27607.0,2015-08-12
5,31,0.39,337500,7/17/2002,July 2002,2002,1970,1970,2463,One Story,Conventional,2 Bath,ALL,Raleigh,27615.0,2002-07-17
6,33,0.50,32500,2/6/1979,February 1979,1979,1969,1969,2389,One Story,Ranch,3 Bath,WGE,Raleigh,27607.0,1979-02-06
7,34,0.70,19500,1/1/1968,January 1968,1968,1968,1968,1280,One Story,Conventional,2 Bath,ALL,Raleigh,27606.0,1968-01-01
8,35,0.49,319000,1/16/1996,January 1996,1996,1938,1938,4650,Two Story,Conventional,3½ Bath,ALL,Raleigh,27608.0,1996-01-16
9,37,0.13,425000,4/15/2008,April 2008,2008,1921,1921,1890,Other,Conventional,2 Bath,ALL,Raleigh,27604.0,2008-04-15

### Clean the Month column

In [137]:
real_estate['Month'] = real_estate['Month_Year_of_Sale'].map(lambda x: x.lstrip(' ').rstrip('0123456789'))

In [138]:
real_estate.head(10)

,Real_Estate_Id,Deeded_Acreage,Total_Sale_Price,Total_Sale_Date,Month_Year_of_Sale,Year_of_Sale,Year_Built,Year_Remodeled,Heated_Area,Num_Stories,Design_Style,Bath,Utilities,Physical_City,Physical_Zip,total_sale_datetime,Month
0,19,0.21,34500,1/1/1974,January 1974,1974,1964,1964,1828,One Story,Split level,2 Bath,ALL,Raleigh,27610.0,1974-01-01,January
1,20,0.46,35500,5/18/1983,May 1983,1983,1970,1970,1240,One Story,Conventional,1 Bath,E,Raleigh,27610.0,1983-05-18,May
2,22,0.46,37500,9/16/2004,September 2004,2004,1900,1900,2261,One Story,Conventional,2 Bath,WSE,Wendell,27591.0,2004-09-16,September
3,25,0.96,70000,1/1/1971,January 1971,1971,1971,1971,3770,One Story,Conventional,Other,WGE,Raleigh,27613.0,1971-01-01,January
4,30,0.47,380000,8/12/2015,August 2015,2015,1946,2017,1789,One Story,Conventional,2 Bath,ALL,Raleigh,27607.0,2015-08-12,August
5,31,0.39,337500,7/17/2002,July 2002,2002,1970,1970,2463,One Story,Conventional,2 Bath,ALL,Raleigh,27615.0,2002-07-17,July
6,33,0.50,32500,2/6/1979,February 1979,1979,1969,1969,2389,One Story,Ranch,3 Bath,WGE,Raleigh,27607.0,1979-02-06,February
7,34,0.70,19500,1/1/1968,January 1968,1968,1968,1968,1280,One Story,Conventional,2 Bath,ALL,Raleigh,27606.0,1968-01-01,January
8,35,0.49,319000,1/16/1996,January 1996,1996,1938,1938,4650,Two Story,Conventional,3½ Bath,ALL,Raleigh,27608.0,1996-01-16,January
9,37,0.13,425000,4/15/2008,April 2008,2008,1921,1921,1890,Other,Conventional,2 Bath,ALL,Raleigh,27604.0,2008-04-15,April

### Drop unnecessary columns

In [139]:
real_estate = real_estate.drop(columns=['Total_Sale_Date', 'Month_Year_of_Sale', 'Utilities', 'Num_Stories', 'Physical_City'])

In [140]:
real_estate.head(10)

,Real_Estate_Id,Deeded_Acreage,Total_Sale_Price,Year_of_Sale,Year_Built,Year_Remodeled,Heated_Area,Design_Style,Bath,Physical_Zip,total_sale_datetime,Month
0,19,0.21,34500,1974,1964,1964,1828,Split level,2 Bath,27610.0,1974-01-01,January
1,20,0.46,35500,1983,1970,1970,1240,Conventional,1 Bath,27610.0,1983-05-18,May
2,22,0.46,37500,2004,1900,1900,2261,Conventional,2 Bath,27591.0,2004-09-16,September
3,25,0.96,70000,1971,1971,1971,3770,Conventional,Other,27613.0,1971-01-01,January
4,30,0.47,380000,2015,1946,2017,1789,Conventional,2 Bath,27607.0,2015-08-12,August
5,31,0.39,337500,2002,1970,1970,2463,Conventional,2 Bath,27615.0,2002-07-17,July
6,33,0.50,32500,1979,1969,1969,2389,Ranch,3 Bath,27607.0,1979-02-06,February
7,34,0.70,19500,1968,1968,1968,1280,Conventional,2 Bath,27606.0,1968-01-01,January
8,35,0.49,319000,1996,1938,1938,4650,Conventional,3½ Bath,27608.0,1996-01-16,January
9,37,0.13,425000,2008,1921,1921,1890,Conventional,2 Bath,27604.0,2008-04-15,April

### Converting the data to numeric

In [141]:
re_categoricals = real_estate.select_dtypes(include=['object']).copy()
re_categoricals.head(10)

   Design_Style     Bath       Month
0   Split level   2 Bath    January
1  Conventional   1 Bath        May
2  Conventional   2 Bath  September
3  Conventional    Other    January
4  Conventional   2 Bath     August
5  Conventional   2 Bath       July
6         Ranch   3 Bath   February
7  Conventional   2 Bath    January
8  Conventional  3½ Bath    January
9  Conventional   2 Bath      April

### Ordinal Encoder

In [142]:
from sklearn.preprocessing import OrdinalEncoder

ordinal_encoder = OrdinalEncoder()
re_categoricals_encoded = pd.DataFrame(ordinal_encoder.fit_transform(re_categoricals), columns=re_categoricals.columns)
re_categoricals_encoded.head(10)

   Design_Style  Bath  Month
0          12.0   2.0    4.0
1           4.0   0.0    8.0
2           4.0   2.0   11.0
3           4.0   6.0    4.0
4           4.0   2.0    1.0
5           4.0   2.0    5.0
6          10.0   4.0    3.0
7           4.0   2.0    4.0
8           4.0   5.0    4.0
9           4.0   2.0    0.0

### One Hot Encoding

In [143]:
from sklearn.preprocessing import OneHotEncoder

d_style = real_estate[['Design_Style']]
one_hot_encoder = OneHotEncoder()
d_style_one_hot = one_hot_encoder.fit_transform(d_style.Design_Style.values.reshape(-1,1)).toarray()
dfOneHot = pd.DataFrame(d_style_one_hot, columns = ["design_style_"+str(int(i)) for i in range(14)])
re_one_hot = pd.concat([real_estate, dfOneHot], axis=1)
re_one_hot = re_one_hot.drop(['Design_Style'], axis=1)
re_one_hot.head(10)

,Real_Estate_Id,Deeded_Acreage,Total_Sale_Price,Year_of_Sale,Year_Built,Year_Remodeled,Heated_Area,Bath,Physical_Zip,total_sale_datetime,...,design_style_4,design_style_5,design_style_6,design_style_7,design_style_8,design_style_9,design_style_10,design_style_11,design_style_12,design_style_13
0,19.0,0.21,34500.0,1974.0,1964.0,1964.0,1828.0,2 Bath,27610.0,1974-01-01,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,20.0,0.46,35500.0,1983.0,1970.0,1970.0,1240.0,1 Bath,27610.0,1983-05-18,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,22.0,0.46,37500.0,2004.0,1900.0,1900.0,2261.0,2 Bath,27591.0,2004-09-16,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,25.0,0.96,70000.0,1971.0,1971.0,1971.0,3770.0,Other,27613.0,1971-01-01,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,30.0,0.47,380000.0,2015.0,1946.0,2017.0,1789.0,2 Bath,27607.0,2015-08-12,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,31.0,0.39,337500.0,2002.0,1970.0,1970.0,2463.0,2 Bath,27615.0,2002-07-17,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,33.0,0.50,32500.0,1979.0,1969.0,1969.0,2389.0,3 Bath,27607.0,1979-02-06,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
7,34.0,0.70,19500.0,1968.0,1968.0,1968.0,1280.0,2 Bath,27606.0,1968-01-01,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,35.0,0.49,319000.0,1996.0,1938.0,1938.0,4650.0,3½ Bath,27608.0,1996-01-16,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,37.0,0.13,425000.0,2008.0,1921.0,1921.0,1890.0,2 Bath,27604.0,2008-04-15,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### Creating more numeric data for bath

In [147]:
re_one_hot['Bath'].value_counts()

2½ Bath     128662
2 Bath       57186
3½ Bath      53912
3 Bath       28905
Other        14362
1 Bath       12253
1 ½ Bath     10881
Name: Bath, dtype: int64

In [153]:
def baths_numerics(row) :
    if row['Bath'] == '1 Bath':
        return 1
    elif row['Bath'] == '2 Bath':
        return 2
    elif row['Bath'] == '3 Bath':
        return 3
    elif row['Bath'] == '1½ Bath':
        return 1.5
    elif row['Bath'] == '2½ Bath':
        return 2.5
    elif row['Bath'] == '3½ Bath':
        return 3.5
    elif row['Bath'] == 'Other':
        return 0

re_one_hot['bathrooms'] = re_one_hot.apply(lambda row: baths_numerics(row), axis=1)

In [154]:
re_one_hot['bathrooms'].value_counts()

2.5    128662
2.0     57186
3.5     53912
3.0     28905
0.0     14362
1.0     12253
Name: bathrooms, dtype: int64

In [156]:
re_one_hot= re_one_hot.drop(['Bath'], axis=1)
re_one_hot.head(10)

,Real_Estate_Id,Deeded_Acreage,Total_Sale_Price,Year_of_Sale,Year_Built,Year_Remodeled,Heated_Area,Physical_Zip,total_sale_datetime,Month,...,design_style_5,design_style_6,design_style_7,design_style_8,design_style_9,design_style_10,design_style_11,design_style_12,design_style_13,bathrooms
0,19.0,0.21,34500.0,1974.0,1964.0,1964.0,1828.0,27610.0,1974-01-01,January,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,2.0
1,20.0,0.46,35500.0,1983.0,1970.0,1970.0,1240.0,27610.0,1983-05-18,May,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,22.0,0.46,37500.0,2004.0,1900.0,1900.0,2261.0,27591.0,2004-09-16,September,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
3,25.0,0.96,70000.0,1971.0,1971.0,1971.0,3770.0,27613.0,1971-01-01,January,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,30.0,0.47,380000.0,2015.0,1946.0,2017.0,1789.0,27607.0,2015-08-12,August,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
5,31.0,0.39,337500.0,2002.0,1970.0,1970.0,2463.0,27615.0,2002-07-17,July,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
6,33.0,0.50,32500.0,1979.0,1969.0,1969.0,2389.0,27607.0,1979-02-06,February,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,3.0
7,34.0,0.70,19500.0,1968.0,1968.0,1968.0,1280.0,27606.0,1968-01-01,January,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
8,35.0,0.49,319000.0,1996.0,1938.0,1938.0,4650.0,27608.0,1996-01-16,January,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.5
9,37.0,0.13,425000.0,2008.0,1921.0,1921.0,1890.0,27604.0,2008-04-15,April,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0

### Standardizing the data

In [157]:
from sklearn.preprocessing import StandardScaler

standard_scaler = StandardScaler()
re_numerics = re_one_hot.select_dtypes(include=['float64', 'int64']).copy()
re_numerics_scaled = pd.DataFrame(standard_scaler.fit_transform(re_numerics), columns=re_numerics.columns)
re_numerics_scaled.head(10)

,Real_Estate_Id,Deeded_Acreage,Total_Sale_Price,Year_of_Sale,Year_Built,Year_Remodeled,Heated_Area,Physical_Zip,design_style_0,design_style_1,...,design_style_5,design_style_6,design_style_7,design_style_8,design_style_9,design_style_10,design_style_11,design_style_12,design_style_13,bathrooms
0,-1.880023,-0.126084,-1.258313,-3.377447,-1.571319,-1.642016,-0.441198,0.902459,-0.005112,-0.009899,...,-0.004427,-0.003615,-0.016066,-0.00313,-0.025439,-0.157904,-0.084135,6.492431,-0.422357,-0.559034
1,-1.880016,0.008675,-1.253043,-2.522725,-1.266570,-1.331777,-1.031524,0.902459,-0.005112,-0.009899,...,-0.004427,-0.003615,-0.016066,-0.00313,-0.025439,-0.157904,-0.084135,-0.154026,-0.422357,-1.798990
2,-1.880000,0.008675,-1.242502,-0.528371,-4.821977,-4.951227,-0.006485,0.448146,-0.005112,-0.009899,...,-0.004427,-0.003615,-0.016066,-0.00313,-0.025439,-0.157904,-0.084135,-0.154026,-0.422357,-0.559034
3,-1.879977,0.278193,-1.071215,-3.662355,-1.215778,-1.280071,1.508484,0.974193,-0.005112,-0.009899,...,-0.004427,-0.003615,-0.016066,-0.00313,-0.025439,-0.157904,-0.084135,-0.154026,-0.422357,-3.038946
4,-1.879938,0.014065,0.562603,0.516290,-2.485566,1.098425,-0.480352,0.830726,-0.005112,-0.009899,...,-0.004427,-0.003615,-0.016066,-0.00313,-0.025439,-0.157904,-0.084135,-0.154026,-0.422357,-0.559034
5,-1.879931,-0.029058,0.338612,-0.718310,-1.266570,-1.331777,0.196314,1.022015,-0.005112,-0.009899,...,-0.004427,-0.003615,-0.016066,-0.00313,-0.025439,-0.157904,-0.084135,-0.154026,-0.422357,-0.559034
6,-1.879915,0.030236,-1.268854,-2.902601,-1.317361,-1.383483,0.122021,0.830726,-0.005112,-0.009899,...,-0.004427,-0.003615,-0.016066,-0.00313,-0.025439,6.332967,-0.084135,-0.154026,-0.422357,0.680922
7,-1.879908,0.138044,-1.337369,-3.947263,-1.368153,-1.435190,-0.991366,0.806814,-0.005112,-0.009899,...,-0.004427,-0.003615,-0.016066,-0.00313,-0.025439,-0.157904,-0.084135,-0.154026,-0.422357,-0.559034
8,-1.879900,0.024846,0.241110,-1.288125,-2.891899,-2.986383,2.391965,0.854637,-0.005112,-0.009899,...,-0.004427,-0.003615,-0.016066,-0.00313,-0.025439,-0.157904,-0.084135,-0.154026,-0.422357,1.300900
9,-1.879885,-0.169207,0.799770,-0.148494,-3.755355,-3.865392,-0.378953,0.758992,-0.005112,-0.009899,...,-0.004427,-0.003615,-0.016066,-0.00313,-0.025439,-0.157904,-0.084135,-0.154026,-0.422357,-0.559034

## Custom Transformer to turn Acreage into square feet

In [144]:
def acreage_to_sqft(acreage):
    return acreage * 43560

sqft_list = []
for index, row in real_estate.iterrows():
    acreage = row['Deeded_Acreage']
    sqft = acreage_to_sqft(acreage)
    sqft_list.append(sqft)

real_estate['square_feet'] = sqft_list

In [145]:
real_estate.head(10)

,Real_Estate_Id,Deeded_Acreage,Total_Sale_Price,Year_of_Sale,Year_Built,Year_Remodeled,Heated_Area,Design_Style,Bath,Physical_Zip,total_sale_datetime,Month,square_feet
0,19,0.21,34500,1974,1964,1964,1828,Split level,2 Bath,27610.0,1974-01-01,January,9147.6
1,20,0.46,35500,1983,1970,1970,1240,Conventional,1 Bath,27610.0,1983-05-18,May,20037.6
2,22,0.46,37500,2004,1900,1900,2261,Conventional,2 Bath,27591.0,2004-09-16,September,20037.6
3,25,0.96,70000,1971,1971,1971,3770,Conventional,Other,27613.0,1971-01-01,January,41817.6
4,30,0.47,380000,2015,1946,2017,1789,Conventional,2 Bath,27607.0,2015-08-12,August,20473.2
5,31,0.39,337500,2002,1970,1970,2463,Conventional,2 Bath,27615.0,2002-07-17,July,16988.4
6,33,0.50,32500,1979,1969,1969,2389,Ranch,3 Bath,27607.0,1979-02-06,February,21780.0
7,34,0.70,19500,1968,1968,1968,1280,Conventional,2 Bath,27606.0,1968-01-01,January,30492.0
8,35,0.49,319000,1996,1938,1938,4650,Conventional,3½ Bath,27608.0,1996-01-16,January,21344.4
9,37,0.13,425000,2008,1921,1921,1890,Conventional,2 Bath,27604.0,2008-04-15,April,5662.8

In [146]:
X, Y = real_estate['Total_Sale_Price'], real_estate['square_feet']