In [1]:
import pandas as pd

In [2]:
uber = pd.read_csv("datasets/uber.csv")
uber.head()

,Unnamed: 0,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,24238194,2015-05-07 19:52:06.0000003,7.5,2015-05-07 19:52:06 UTC,-73.999817,40.738354,-73.999512,40.723217,1
1,27835199,2009-07-17 20:04:56.0000002,7.7,2009-07-17 20:04:56 UTC,-73.994355,40.728225,-73.994710,40.750325,1
2,44984355,2009-08-24 21:45:00.00000061,12.9,2009-08-24 21:45:00 UTC,-74.005043,40.740770,-73.962565,40.772647,1
3,25894730,2009-06-26 08:22:21.0000001,5.3,2009-06-26 08:22:21 UTC,-73.976124,40.790844,-73.965316,40.803349,3
4,17610152,2014-08-28 17:47:00.000000188,16.0,2014-08-28 17:47:00 UTC,-73.925023,40.744085,-73.973082,40.761247,5

In [3]:
uber.value_counts()

Unnamed: 0  key                            fare_amount  pickup_datetime          pickup_longitude  pickup_latitude  dropoff_longitude  dropoff_latitude  passenger_count
1           2010-01-05 16:52:16.0000002    16.9         2010-01-05 16:52:16 UTC  -74.016048        40.711303        -73.979268         40.782004         1                  1
36975577    2011-01-09 00:55:02.0000003    9.3          2011-01-09 00:55:02 UTC  -73.983030        40.744800        -73.955020         40.774215         1                  1
36968569    2011-06-13 13:38:48.0000001    8.9          2011-06-13 13:38:48 UTC  -73.991514        40.743654        -73.978592         40.755550         1                  1
36968748    2013-02-25 18:37:42.0000001    8.0          2013-02-25 18:37:42 UTC  -73.970616        40.755955        -73.981663         40.739912         1                  1
36969059    2014-02-07 20:31:03.0000005    13.5         2014-02-07 20:31:03 UTC  -73.968586        40.751724        -73.954154         40.769654         1                  1
                                                                                                                                                                           ..
18494755    2012-01-12 12:03:00.000000170  11.7         2012-01-12 12:03:00 UTC  -73.975342        40.765132        -73.990207         40.759107         5                  1
18494937    2010-07-12 09:07:00.000000115  4.1          2010-07-12 09:07:00 UTC  -73.954520        40.805850        -73.952148         40.810673         3                  1
18495130    2010-01-20 05:47:46.0000001    5.7          2010-01-20 05:47:46 UTC  -73.967425        40.801076        -73.975938         40.785477         1                  1
18495375    2011-04-25 11:38:13.0000001    10.9         2011-04-25 11:38:13 UTC  -73.993990        40.735569        -74.010074         40.709845         1                  1
55423567    2010-06-27 17:43:56.0000003    4.5          2010-06-27 17:43:56 UTC  -73.975406        40.751730        -73.965029         40.752614         1                  1
Length: 199999, dtype: int64

In [4]:
uber.describe()

,Unnamed: 0,fare_amount,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
count,2.000000e+05,200000.000000,200000.000000,200000.000000,199999.000000,199999.000000,200000.000000
mean,2.771250e+07,11.359955,-72.527638,39.935885,-72.525292,39.923890,1.684535
std,1.601382e+07,9.901776,11.437787,7.720539,13.117408,6.794829,1.385997
min,1.000000e+00,-52.000000,-1340.648410,-74.015515,-3356.666300,-881.985513,0.000000
25%,1.382535e+07,6.000000,-73.992065,40.734796,-73.991407,40.733823,1.000000
50%,2.774550e+07,8.500000,-73.981823,40.752592,-73.980093,40.753042,1.000000
75%,4.155530e+07,12.500000,-73.967154,40.767158,-73.963658,40.768001,2.000000
max,5.542357e+07,499.000000,57.418457,1644.421482,1153.572603,872.697628,208.000000